*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:black;
    --secondary-color:red;
    --tirnary-color:white;
    --border-radius: 0.5rem;
}
body{
    background-color: #fff;
    
    color: var(--secondary-color);
}
header nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    width: 100%;
   
}
nav ul li{
    float: left;
    
}
nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none; 
    transition: all 0.4s linear;
}
nav ul li a:hover{
    background-color: #111;
    text-decoration: underline;
    transform: scale(1.2) rotate(45deg);
}

.first{
    
    font-weight: bold;
}
footer{
    text-align: center;
}
footer>ul{
    list-style-type: none;
}

.btn:hover{
    background-color: black;
    color: aliceblue;
}
.btn{
    border: 2px solid red;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Roboto',sans-serif;
}
input[type]{
    border: 1px solid greenyellow;
    border-radius: 15px;
}
.bnt{
    background-color: green;
    padding: 0.8rem 0.8rem;
    margin: 0.5rem 0.4rem;
    color: #FFF078;
    border-radius: 0.5rem;
}
#frm{
    background-color: var(--tirnary-color);
}

footer{
    background-color: #FFF078;
}
h1{
    text-shadow: 0.1rem 0.2rem 10px black;
}
h2{
    text-shadow: 0.1rem 0.2rem 10px green;
}
.card{
    background-color: #fff;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0.1rem 0.1rem 0.8rem #333;

}
main{
    width: 80%;
    margin: auto;
}
#skills{
    overflow: hidden;
    position: relative;
}
.pic{
    float: right;
    position: absolute;
    left: 45rem;
    bottom: 30rem;
}
.pic #sohan{
    height: 164px;
    border-radius: 75px;
}
.cards{
    background-color: #cbc;
    margin: 10px;
    padding: 1.5rem;
    width: 10%;
    overflow: hidden;
    float: left;
    transition: all 0.4s linear;
}
.cards:hover{
    box-shadow: 0.1rem 0.1rem 0.8rem #111;
    transform: scale(1.2);
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    .card{
        width: 80%;
    }
    .row {
        flex-direction: column;
    }
    .cards{
        width: 80%;
    }
}
.cards__img{
    width: 100%;
    height: auto;
}
#intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sohan{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
/* table starts here */
table{
    width: 100%;
    border-collapse: collapse;
    margin: 12rem 0;
}
td{
    text-align: center;
}
/* table endss here */
/* input,select,textarea starts here */
input,select,textarea{
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
/* input,select,textarea ends here */
/* about starts here */
.about{
    margin-top: 0.8rem;
    height: 85vh;
    background-image: url(img/cover.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* about ends here */